set timeout=3
set default=0

set gfxmode=1024x768x32
set gfxpayload=keep

menuentry "DarkgreenOS" {
    multiboot2 /boot/darkgreenos.kernel
    module2 /boot/memory/darkmind-memory.bin darkmind.memory dmem1
    boot
}
